@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme inline {
  --font-base: 'Montserrat', sans-serif;
  --color-primary: #ff9228;
}

body {
  @apply font-base;
}